/* Global background */
body {
  color: rgb(31, 42, 68); 
  background-color: #fbfdfd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar container */
.navbar {
  background-color:#9dac7c !important; 
  --bs-navbar-active-color: white;
  align-items: center;
  box-sizing: border-box;
  color-scheme: light;
  column-gap: 0px;
  flex-direction: column; 
  display: flex;
  flex-wrap: nowrap;
  font-size: 17px;
  font-weight: 400; height: 83.78125px;
  justify-content: flex-start;
  line-height: 25.5px;
  padding-bottom: 20.4px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 20.4px;
  position: relative;
  text-align: start;
  width: 1920px;
}


/* Navbar brand text */
.navbar-brand span {
  box-sizing: border-box;  
  color: #3c5e55;
  color-scheme: dark;
  cursor: auto;
  display: inline;
  font-size: 21.25px;
  font-weight: 400; height: auto;
  line-height: 31.875px;
  text-align: start;
  text-underline-offset: 3px;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
  width: auto;
}

/* Highlight colour on hover */
.navbar-nav {
  --bs-nav-link-color:#3c5e55;
  --bs-nav-link-hover-color:rgba(255, 255, 255, 0.6);
}

/* Data upload progress bar */
span.btn.btn-default.btn-file {
  fill:#9dac7c !important;
  background-color:#9dac7c;
}

/* Data upload progress bar */
.progress-bar {
  fill:#9dac7c !important;
  background-color:#9dac7c !important;
}

/* Panel headers or section titles */
h1, h2, h3, h4 {
  color:#3c5e55;
}

/* Buttons */
.btn-primary {
  background-color:#9dac7c !important;
  border-color:#9dac7c !important;
  color:#3c5e55;
}

.btn-primary:hover {
  background-color:#3c5e55;
  border-color:#3c5e55;
  color: rgba(255, 255, 255, 0.8);
}

/* Radio buttons */
.form-check-input:checked, 
.shiny-input-container .checkbox input:checked, 
.shiny-input-container .checkbox-inline input:checked, 
.shiny-input-container .radio input:checked, 
.shiny-input-container .radio-inline input:checked {
    background-color:#9dac7c; 
    border-color:#9dac7c; 
}

/* Radio button labels */ 

#wrangle-wrangle label {
  font-size: 14px;
}

#scan-analysis_scope label {
  font-size: 14px;
}

/* Pagination */

.page-link.active, 
.active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color:#9dac7c;
    border-color:#9dac7c;
}